.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh !important;
    background-image: url('https://i.pinimg.com/originals/65/0c/88/650c88db41f4bc0892c46457b2f6eaa7.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-box-shadow: 1px 0px 33px -3px rgba(0,0,0,0.75);
    z-index: -1;
    .login-box {
        height: 60%;
        width: 60%;
        display: flex;
        z-index: 99999;
        -moz-box-shadow: 1px 0px 33px -3px rgba(0,0,0,0.75);
        box-shadow: 1px 0px 33px -3px rgba(0,0,0,0.75);
        .left-side {
            height: 100%;
            background-color: $secondary;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            text-align: center;
            font-size: 2rem;
            color: white;
            font-weight: 100;
            flex: 5;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
        .right-side {
            flex: 7;
            padding: 50px 40px 40px 30px;
            background: white;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            form {
                height: 100%;
                display: grid;
                grid-template-rows: 20% 60% auto;
                .title {
                    color: $secondary;
                    font-size: 1.5rem;
                }
                .fields {
                    * {
                        width: 100% !important;
                    }
                }
                .login-register {
                    margin-top: 10px;
                    padding: 5px;
                    text-align: center;
                    font-weight: 400;
                    font-size: .8rem;
                    color: rgba(0, 0, 0, 0.5);
                    cursor: pointer;
                    &:hover {
                    color: rgba(0, 0, 0, 0.8);
                    }
                }
            }
        }
    }
}