.navbar {
    margin: 0;
    min-height: $navbar-size;
    background-color: white;
    border-bottom: 2px solid #F3F3F3;
    width: 100%;
    border-radius: 0;
    -webkit-box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    -moz-box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1); 
    .container {
        display: flex;
        flex-wrap: nowrap;
        min-height: $navbar-size;
        .navbar-start {
            flex: 1;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .navbar-brand {
                margin-right: 10px; /* change this */
                font-family: Roboto, Arial, Helvetica, sans-serif;
            }
            .navbar-search {
                position: relative;
                height: 100%;
                border-radius: 0;
                .fa-search {
                    position: absolute;
                    top: 22px;
                    left: 29px; // + margin
                    font-size: 20px;
                }
                input {
                    border-radius: 0px;
                    height: 100%;
                    outline: 0;
                    box-shadow: 0;
                    padding: 10px 25px;
                    background: white;
                    margin-left: 20px;
                    border-left: 1px solid #e6e6e6;
                    border-right: 1px solid #e6e6e6;               
                    border-top: none;
                    border-bottom: none;
                    // border: solid 1px #e6e6e6;
                    // border-bottom-width: 3px;
                    line-height: 10px;
                    transition: all .8s ease;
                    text-indent: 15px;
                    width: 250px;
                    &:focus {
                        width: 400px;
                        transition: all .8s ease;
                    }
                }
            }
        }
        .navbar-end {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .navbar-item {
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                padding: 10px;
                cursor: pointer;
                font-weight: 500;
                font-size: 1.4rem;
                font-family: Roboto, Geneva, Tahoma, sans-serif;
                border-bottom: 1px solid transparent;
                height: 100%;
                margin: 0 10px;
                font-size: 1rem;
                &:hover {
                    color: $navbar_primary;
                    border-color: $navbar_primary;
                }
                &.active-item {
                    border-color: $navbar_secondary;
                    border-width: 2px;
                    color: $navbar_primary;
                }
            }
        }
    }
}

.navbar-dropdown {
    font-size: 16px;    
    // padding: 14px 16px;
    margin: 0;
    position: relative;
    display: block;
    .dropdown-content {
        position: absolute;
        top: -3px;
        display: none;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-top: $navbar-size;
        a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }
    }
    &:hover {
        .dropdown-content {
            display: block;
        }
    }
    .dropdown-content {
        a:hover {
            background: whitesmoke;
        }
    }
}

.dropdown-link {
    white-space: nowrap;
}

