
.home-box {
    .flex-row {
        display: flex;
        justify-content: center;
        .left-side {
            flex: 3;
        }
        .right-side {
            flex: 1;
        }
    }
}

.post-box {
    .flex-row {
        display: flex;
        justify-content: center;
        .left-side {
            flex: 4;
        }
        .right-side {
            flex: 2;
        }
    }
}

.post-box {
    margin: 5%;
    .post-title {
        span {
            &:first-child {
                color: $secondary !important;   
            }
            &:nth-child(2) {
                font-size: 1rem !important;
            }
        }
    }
    .btn-blog-primary {
        color: $primary !important; 
    }
}

.post-links {
    text-align: center;
    margin-top: -$home-margin*1.5;
    z-index: 100;
    margin: 50px;
    a {
        padding: 10px 12px;
        margin: 0 5px;
        border-radius: 2px;
        background: white;
        border: 2px solid $box-border-color;
        font-weight: 600;
        color: $secondary-text;
        &:hover {
            cursor: pointer;
            background-color: rgba($color: $secondary-text, $alpha: .1)
        }
        &.page-active {
            color: $navbar_primary;
        }
    }
}

.tags-box, .categories-box {
    margin-top: $home-margin;
    .title {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid whitesmoke;
        font-size: 1.2rem;
        color: $secondary-text;
    }
}

.tag, .category {
    &:hover {
        div {
            background-color: $primary !important; 
        }
    }
}

.post-category {
    padding: 10px 0;
}

.card-action {
    clear: both !important;
    padding: 20px !important;
}

.user-post-box {
    margin-top: $home-margin;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .fullname {
        padding: 11px;
        text-align: center;
        width: 100%;
        font-size: 1.4rem;
    }
    .email {
        font-size: .9rem;
        color: rgba(0, 0, 0, .7)
    }
    .profile-img {      
        height: 200px;
        width: 200px;
        text-align: center;
        margin-top: -100px;
        border-radius: 50%;
        border: 7px solid whitesmoke;
        background-position: center center;
        background-size: cover;
    }
}

.box-comments {
    margin: 0 5%;
    .title {
        font-size: 1.5rem;
        padding: 10px;
    }
}

.comment-box, .add-comment-section {
    margin: 2% 5%;
}

.add-comment-section {
    padding: 15px;
    .title {
        font-size: 1.5rem;
        color: rgba(0, 0, 0, .7);
    }
}

.home-items-section {
    margin-top: $home-margin * 2;
    .side-section {
        margin: 50px 0;                
        .title {
            text-align: center;
            padding: 20px;
            margin-bottom: 20px;
            font-size: 1.4rem;
            font-weight: 400;
            color: rgba(0, 0, 0, .5);
            border-bottom: 1px solid whitesmoke;
        }
    }
}