
.home-box {
    .flex-row {
        display: flex;
        justify-content: center;
        .left-side {
            flex: 3;
        }
        .right-side {
            flex: 1;
        }
    }

}

.post-box {
    margin: 5%;
    .post-title {
        span {
            &:first-child {
                color: $secondary !important;   
            }
            &:nth-child(2) {
                font-size: 1rem !important;
            }
        }
    }
    .btn-blog-primary {
        color: $primary !important; 
    }
}

.post-links {
    text-align: center;
    margin-top: -$home-margin*1.5;
    z-index: 100;
    margin: 50px;
    a {
        padding: 10px 12px;
        margin: 0 5px;
        border-radius: 2px;
        background: white;
        border: 2px solid $box-border-color;
        font-weight: 600;
        color: $secondary-text;
        &:hover {
            cursor: pointer;
            background-color: rgba($color: $secondary-text, $alpha: .1)
        }
        &.page-active {
            color: $navbar_primary;
        }
    }
}