.user-container {
    .flex-row {
        display: flex;
        justify-content: center;
        .user-box {
            margin-top: $home-margin;
            width: 70%;
            text-align: center;
        }
        .title {
            font-size: 2rem;
            color: rgba($color: #000000, $alpha: .7);
        }
        .subtitle {
            font-size: .9rem;
            color: rgba(0, 0, 0, .7);
            margin-top: 5px;
        }
        .user-posts {
            font-size: 2rem;
            color: rgba(0, 0, 0, .4);
            margin-top: $home-margin;
            margin-bottom: -20px;
        }
    }
}