/*
* Only imports here
*/

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

/* font-awesome */
@import '../../../node_modules/font-awesome/scss/_variables.scss';
$fa-font-path: "~font-awesome/fonts";
@import "../../../node_modules/font-awesome/scss/font-awesome";

.fa{
  font-family: FontAwesome !important;
}
/* Vars */
@import '_vars';

/* Resets */
@import '_resets';

/* General styles */
@import '_inc';

/*
  ***   COMPONENTS   ***
*/

@import '_navbar';

/*
 ***   PAGES   ***
*/
@import '_login';
@import '_posts.scss';
@import '_profile.scss';


body {
    background: whitesmoke;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

.active {
  color: $primary !important;
}


.users-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .user-container {
        margin: 10px;
        width: 30%;
        .user-posts, .user-comments {
            font-weight: 500;
            span {
                font-weight: 700;
                color: $primary;
            }
        
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0.06) !important;
        }
    }
}

