/*
* Only imports here
*/

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

/* font-awesome */
@import '../../../node_modules/font-awesome/scss/_variables.scss';
$fa-font-path: "~font-awesome/fonts";
@import "../../../node_modules/font-awesome/scss/font-awesome";

.fa{
  font-family: FontAwesome !important;
}
/* Vars */
@import '_vars';

/* Resets */
@import '_resets';

/* General styles */
@import '_inc';

/*
  ***   COMPONENTS   ***
*/

@import '_navbar';


@import '_login';

body {
    background: whitesmoke;
    height: 100vh;
    width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}


